---
Language: Cpp
BasedOnStyle: LLVM

# Indentation
IndentWidth: 4
TabWidth: 4
UseTab: Never
IndentCaseLabels: false
NamespaceIndentation: None

# Braces
BreakBeforeBraces: Attach
Cpp11BracedListStyle: true

# Line length
ColumnLimit: 100

# Includes
IncludeBlocks: Regroup
IncludeCategories:
  # Project headers
  - Regex: '^".*'
    Priority: 1
  # Qt headers
  - Regex: '^<Q.*'
    Priority: 2
  # System/external headers
  - Regex: '^<.*'
    Priority: 3

SortIncludes: CaseSensitive

# Alignment
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: None
AlignConsecutiveDeclarations: None
AlignOperands: Align
AlignTrailingComments: true

# Breaking
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AlwaysBreakTemplateDeclarations: Yes
BinPackArguments: true
BinPackParameters: true
BreakConstructorInitializers: BeforeColon

# Pointers/References
DerivePointerAlignment: false
PointerAlignment: Left

# Spaces
SpaceAfterCStyleCast: false
SpaceAfterTemplateKeyword: true
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
SpacesInAngles: Never
SpacesInCStyleCastParentheses: false
SpacesInParentheses: false

# Other
ReflowComments: true
SortUsingDeclarations: true
